.mypage {
  height: 100%;
  display: flex;
  text-align: center;

  .balance {
    width: 400px;
    height:600px;
    border: solid yellow;
    margin: 10px;
    .balance_header {
      background-color: yellow;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #fff;
    }
    .balance_sider {
      text-align: left;
    }
  }

  .room {
    width: 600px;
    height:600px;
    border: solid palegreen;
    margin: 10px;
    .room_header {
      background-color:palegreen;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;
    }
    .room_sider {
      text-align: left;
    }
  }


  .item {
    width: 400px;
    height: 600px;
    border: solid plum;
    margin: 10px;
    .item_header {
      background-color: plum;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;
    }
  }
}