<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roomanager</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%= render 'shared/header' %>
  <main>
    <section class="fv-section">
      <p class="main-copy">またつまらぬものを買ってしまったあなたに</p>
      <p class="fv-text">計画的な買い物の推進ツール</p>
      <a href="#" class="cta-btn">使ってみる</a>
  </main>
<%= render 'shared/footer' %>
</body>
</html>