.mypage {
  height: 100%;
  display: flex;
  text-align: left;
  
  .action {
    width: 300px;
    height: 600px;
    border: solid plum;
    margin: 10px;
    
  }

  .myhouse {
    width: 800px;
    height:600px;
    border: solid palegreen;
    margin: 10px;
  }

  .seller {
    width: 300px;
    height: 600px;
    border: solid bisque;
    margin: 10px;
    color: black;

  }
}