<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roomanager</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%= render 'shared/header' %>
  <main>
    <section class="mypage">
      <div class="action">収支関係</div>
        
      <div class="myhouse">居室関係</div>

      <div class="seller">購買先一覧
        <p>
          家具家電
          <a href="https://www.yamada-denki.jp/store/contents/?d=128">テックランドNew野並店</a>
        </p>
        <p>
          <a href="https://itunes.apple.com">App Store</a>
          <a href="https://store.google.com">Google Play</a>
        </p>
      </div>






  </main>
<%= render 'shared/footer' %>
</body>
</html>