<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roomanager</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%= render 'shared/header' %>
  <main>
    <section class="mypage">
      <p class="action">収支関係</p>
        
      <p class="myhouse">居室関係</p>
        <a class="">
      <p class="seller">購買関係</p>
        










  </main>
<%= render 'shared/footer' %>
</body>
</html>